.project-overview {
  border: 1px solid black;
  margin: 1rem 0;
  padding: 1rem;
  width: 100%; 
}

.project-overview__button {
  border: 1px solid blue;
  display: inline-block;
  padding: .5em 1em;
  width: auto;
}

.image-box__img {
  width: 100%;
  height: auto;
}